<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{categoryName}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list no-margin class="list-full-border list-products"
            [ngClass]="{'grid': viewType == 'grid', 'list': viewType == 'list'}">
    <ion-item class="product" *ngFor="let item of items" (click)="viewItem(item.id)">
      <ion-thumbnail item-left>
        <img src="{{item.foto}}">
      </ion-thumbnail>
      <!--item's information-->
      <div>
        <div text-wrap>{{ item.tituloAnuncio }}</div>
        <div>
           <span ion-text color="danger" >{{ item.usuario.name }}</span>
          <!-- <span ion-text color="danger" *ngIf="!item.sale_price">{{ item.price | currency:'USD':true }}</span> -->
        </div>
        <div class="origin-price text-sm">
          <!-- <span class="text-decoration">{{ item.categoria.nome}}</span>  -->
          <!-- <span *ngIf="item.sale_price" class="discount-rate" ion-text color="danger">{{ discountPercent(item.price, item.sale_price) }}%</span> -->
        </div>
        <div class="bottom-info text-sm">
          <!-- <span ion-text color="gray" class="pull-left" *ngIf="item.shipping == 0">Free shipping</span> -->
          <!-- <span ion-text color="gray" class="pull-left"> {{ item.categoria.nome}}</span> -->
           
          <span ion-text color="gray" class="pull-right">
              {{ item.categoria.nome}}
          </span>
          <div class="clear"></div>
        </div>
        <div class="bottom-info text-sm">
            <!-- <span ion-text color="gray" class="pull-left" *ngIf="item.shipping == 0">Free shipping</span> -->
            <!-- <span ion-text color="gray" class="pull-left"> {{ item.categoria.nome}}</span> -->
            <span ion-text color="gray" class="pull-right">
               Data Anuncio: {{ item.dataAnuncio | date }}
            </span>      
            
            <div class="clear"></div>
          </div>
      </div>
    </ion-item>
  </ion-list>


</ion-content>

<!--Footer buttons-->
<!-- <ion-footer class="category">
  <ion-toolbar position="bottom">
    <ion-buttons text-center start>
      <button ion-button icon-left (click)="openFilter('filter')">
        <ion-icon name="ios-funnel"></ion-icon>
        FILTER
      </button>
    </ion-buttons>
    <ion-buttons text-center end>
      <button ion-button icon-left (click)="openFilter('attribute')">
        <ion-icon name="apps"></ion-icon>
        ATTRIBUTE
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
