<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="item != null && item.cliente != null">Solicitação de {{ item.cliente.nome }}</ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content *ngIf="item != null" class=" common-bg">

  <div class="card light-bg">

      <img src="{{item.anuncio.foto}}">

       <div text-center padding margin-top class="border-bottom">
      <p>{{ item.anuncio.tituloAnuncio }}</p>    
    </div>

  </div>

  <div class="card light-bg">
      <ion-item class="no-border">
          <div>Descrição da solicitação</div>
    
          <div text-center padding margin-top class="border-bottom">
              <p>{{ item.descricao }}</p>    
           </div>
        </ion-item>
      
  </div>

  <!--item options-->
  <div class="card light-bg" margin-top>
    <ion-item class="no-border">
      <div>
       
        <div *ngIf="item.anuncio.categoria != null"> 
          {{item.anuncio.categoria.nome}}<br/>
          <span class="bold" ion-text color="secondary" 
              *ngIf="item != null && item.statusSolicitacao != null && item.statusSolicitacao !== 'Servico Realizado'">
              {{item.statusSolicitacao}}<br/>
          </span>
          <span class="bold" ion-text color="danger" 
              *ngIf="item != null && item.statusSolicitacao != null && item.statusSolicitacao === 'Servico Realizado'">
              {{item.statusSolicitacao}}<br/>
          </span>
          <span *ngIf="item != null && 
                item.statusSolicitacao != null &&
                 item.statusSolicitacao === 'Servico Agendado'">
             Agendado para dia {{ item.dataAgendamento | date: 'dd/MM/yyyy' }}
          </span>
        </div>
        
        <div>
          <span ion-text color="gray" class="pull-left" *ngIf="item.usuario != null">{{item.usuario.name}}</span>
         </div>
      </div>

      <!-- <div item-right>
        <span class="bold" ion-text color="secondary" *ngIf="item != null && item.statusSolicitacao != null">{{item.statusSolicitacao}}</span>
      </div> -->
    </ion-item>

    <ion-grid>
        <ion-row>
          <!-- <ion-col>
            <button ion-button block class="btn-add-cart" (click)="showOptions(item)">Fazer Perguntas</button>
          </ion-col> -->
          <ion-col>
            <button *ngIf="item != null && 
            item.statusSolicitacao != null &&
             item.statusSolicitacao === 'Aguardando confirmação'" 
             ion-button color="primary" block
             (click)="showOptions(item)">Comfirmar solicitação</button>

            <button ion-button color="primary" block *ngIf="item != null && 
            item.statusSolicitacao != null && item.statusSolicitacao === 'Servico Agendado'"
            (click)="confirmarRealizacaoServico(item)">Confirmar Serviço</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <!--Description-->
  <div class="card light-bg" margin-top>
    <div class="border-bottom" padding>Detalhes do Solicitante</div>
    <div padding>
      Nome: {{ item.cliente.nome }}<br/>
      E-mail: {{ item.cliente.email }}<br/>
      Telefone: {{ item.cliente.telefone }}<br/>
      CEP: {{ item.cliente.cep }}<br/>
      Estado: {{ item.cliente.estado.nome }}<br/>
      Cidade: {{ item.cliente.cidade.nome }}<br/>
      Bairro: {{ item.cliente.bairro.nome }}<br/>
      Endereco: {{ item.cliente.endereco }}<br/>
      Complemento: {{ item.cliente.complemento }}<br/>
    </div>    
  </div>

 
</ion-content>
