<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      
     
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class=" common-bg">
  <!-- slider on top-->
  <!-- <ion-slides pager autoplay="2000">

    <ion-slide *ngFor="let slide of slides">
      <img src="{{ slide.src }}" alt="">
    </ion-slide>

  </ion-slides> -->

  <!--list categories-->
  <ion-card>
    <ion-list class="cat-list">
      <ion-row>
        <ion-col *ngFor="let cat of categories | slice:0:3; let i = index" (click)="viewCategory(cat.id, cat.nome)">
          <img src="{{cat.foto}}" alt="">
          <div text-center>{{ cat.nome }}</div>
        </ion-col>
        <ion-col text-center (click)="viewCategorias()">
          <img src="assets/img/categories/all.png" alt="">
          <div text-center>All categories</div>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>

  <!--Deals-->
  <!-- <ion-grid class="grid-no-padding deals">
    <ion-row>
      <ion-col text-center>
        <ion-card>
          <div>Flash Deals</div>
          <ion-badge color="primary">00:00:01</ion-badge>
          <img src="assets/img/items/item_1.jpg" alt="">
        </ion-card>
      </ion-col>
      <ion-col text-center>
        <ion-card>
          <div>Super Deals</div>
          <ion-badge color="primary">Up to 90% off</ion-badge>
          <img src="assets/img/items/item_2.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <h4 text-center>Recentes</h4>

  <!--List of items-->
  <!-- <ion-grid class="list-cards">
    <ion-row>
       
      <ion-col *ngFor="let item of items" col-6 class="product" (click)="viewItem(item.id)">
          <ion-card>
        <div>{{ item.tituloAnuncio }}</div>
          <ion-badge color="primary">{{item.categoria.nome}}</ion-badge>
        <div class="card light-bg">
          <img src="{{ item.foto }}" alt="{{ item.tituloAnuncio }}">
         <div class="price" >{{ item.tituloAnuncio }}</div> 
          <span ion-text color="gray" class="pull-right">
            {{ item.categoria.nome}}
        </span>

        </div>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-list no-margin class="list-full-border list-products"
  [ngClass]="{'grid': viewType == 'grid', 'list': viewType == 'list'}">
<ion-item class="product" *ngFor="let item of items | slice:0:5; let i = index" (click)="viewItem(item.id)">
<ion-thumbnail item-left>
<img src="{{item.foto}}">
</ion-thumbnail>
<!--item's information-->
<div>
<div text-wrap>{{ item.tituloAnuncio }}</div>
<div>
 <span ion-text color="danger" >{{ item.usuario.name }}</span>
<!-- <span ion-text color="danger" *ngIf="!item.sale_price">{{ item.price | currency:'USD':true }}</span> -->
</div>
<div class="origin-price text-sm">
<!-- <span class="text-decoration">{{ item.categoria.nome}}</span>  -->
<!-- <span *ngIf="item.sale_price" class="discount-rate" ion-text color="danger">{{ discountPercent(item.price, item.sale_price) }}%</span> -->
</div>
<div class="bottom-info text-sm">
<!-- <span ion-text color="gray" class="pull-left" *ngIf="item.shipping == 0">Free shipping</span> -->
<!-- <span ion-text color="gray" class="pull-left"> {{ item.categoria.nome}}</span> -->
 
<span ion-text color="gray" class="pull-right">
    {{ item.categoria.nome}}
</span>
<div class="clear"></div>
</div>
<div class="bottom-info text-sm">
  <!-- <span ion-text color="gray" class="pull-left" *ngIf="item.shipping == 0">Free shipping</span> -->
  <!-- <span ion-text color="gray" class="pull-left"> {{ item.categoria.nome}}</span> -->
  <span ion-text color="gray" class="pull-right">
     Data Anuncio: {{ item.dataAnuncio | date }}
  </span>      
  
  <div class="clear"></div>
</div>
</div>
</ion-item>
</ion-list>

</ion-content>
